
body{
 margin: 0;
 padding: 0;
 background-size: cover;
 background-position: center;
 font-family: sans-serif;
}

.logo_main{
  list-style: none;
  padding: 0;
  background: #EFB1D2;
  width: 100%;
  max-width: 2000px;
  margin: auto;
}
.logo_main ul li {
  text-decoration: none;
  color: #EFB1D2;
  padding: 50px;
  width: 192px;
}
.logo_main ul li{
  display: contents;
}

.menu{
  list-style: none;
  padding: 20;
  background: #FFDC8E;
  width: 100%;
  max-width: 2000px;
  margin: auto;
}
.menu nav ul li a{
  text-decoration: none;
  color: white;
  padding: 50px;
  width: 192px;
}
.menu nav ul li{
  display: contents;
}
.menu nav ul li a:hover{
  background: #9BE7D2;
}
.menu nav ul li a i{
  display: none;
}
#p10{
  font-family: cursive;
  color: #0A7066;
}
#tit5{
  color: #F92374;
  font-style: italic;
  font-family: cursive;
}

#icon-menu{
  width: 28px;
  height: 28px;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 3px;
  font-size: 20px;
  background: #eeeeeefa;
  border-radius: 100%;
  color: #787878;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#icon-menu:hover{
  opacity: 0.8;
}
#p2{
  font-family: cursive;
}
#l1{
  font-size: 18px;
  color : #FF33A2;
}
#h21{
  color: #CF561D
}
#p4{
  font-family: cursive;
}
#l2{
  font-size: 18px;
  color: #794C04;
}
#p1{
  font-size: 16px;
}
.galeria{
  margin: 20px 10px;
  box-shadow: 0 4px 8px 0 lightskyblue, 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  float: left;
  width: 350px;
}
.galeria img{
  width: 90%;
  height: auto;
}
.galeria:hover{
  border: 1px solid lightcoral;
  transform: rotate(-3deg);
}
.pie{
  text-align: center;
  text-shadow: 2px 2px 5px purple;
  padding: 10px
}

#tit1{
  color : #045155

}
#tit2{
  color : #045155;

}
#tit4{
  color : #045155;
  font-style: italic;

}
#h31{
  color : #045155;

}

#number{
  font-family: fantasy;
}
#b1{
  text-decoration: none;
  color: white;
  padding: 18px;

}
#b1:hover{
  background: #EFB1D2;
}
/*movil*/
@media screen and (max-width: 1220px) {
  .header-content,
  .container-content,
  .container-footer footer{
    max-width: 1000px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1020px){
  .container-content{
    width: 100%;
  }
@media screen and (max-width: 800px) {
  .container-all{
    transition: all 300ms cubic-bezier(1,0,0,1);
  }
  .move-container-all{
    transform: translateX(325px);
  }
  .menu{
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    background: #FFDC8E;
    overflow: hidden;
    transform: translateX(-350px);
    box-shadow: 10px 0 20px -25px black;
    transition: all 300ms cubic-bezier(1,0,0,1);
  }
  .show-lateral{
    width: 300px;
    transform: translateX(0px);
  }
  .menu nav ul {
    flex-direction: column;
  }
  .menu nav ul li {
    max-width: 200px;
    height: 50px;
    justify-content: flex-start;
  }
  .menu-selected::before{
    width: 0;
  }
  .menu nav ul li a{
    margin-top: 40px;
    color: #858585;
  }
  .menu nav ul li a i{
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    color: #46a2fd;
  }
  #icon-menu{
    display: flex;
  }
}
