*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.logo_main{
  list-style: none;
  padding: 0;
  background: #EFB1D2;
  width: 100%;
  max-width: 2000px;
  margin: auto;
}
.logo_main ul li {
  text-decoration: none;
  color: #EFB1D2;
  padding: 50px;
  width: 192px;
}
.logo_main ul li{
  display: contents;
}
#hr1{
  height: 10px;

  background-color: #EFB1D2 ;
}

.menu{
  width: 100%;
  /*display: none;*/
} 
.menu .bt-menu{
  display: none;
}
.menu nav{
  background: #FFDC8E;
  z-index: 1000;
  max-width: 2000px;
  margin: 20px auto;

}
.menu nav ul{
  list-style: none;
}
.menu nav ul li a{
  text-decoration: none;
  color: white;
  padding: 20%;
  width: 300px;
  display: block;
}
.menu nav ul li{
  display: inline-block;
  position: relative;
}
.menu nav ul li:hover{
  background: #9BE7D2;
}
.menu nav ul li a i{
  margin-right: 10px;
}
.menu nav ul li:hover .children{
  display: block;

}
.menu nav ul li .children{
  display: none;
  background: #EFB1D2;
  position: absolute;
  width: 110%;
  z-index: 1000;
}
.menu nav ul li .children li{
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, .5);

} 
/*servicios*/
#titulo{
  color : #045155;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#descripser{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-services{

  padding-bottom: 30px;
}
.servicio-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.servicio-ind{
  width: 450px;
  text-align: center;
}
.servicio-ind img{
  width: 90%;
}
.servicio-ind h3{
  margin: 10px 0;
}
.servicio-ind p{
  font-weight: 300;
  text-align: center;
}
#p10{
  font-family: cursive;
  color: #0A7066;
}
#tit5{
  color: #F92374;
  font-style: initial;
  font-family: 'Times New Roman', Times, serif;
}

#

#p2{
  font-family: cursive;
}
#l1{
  font-size: 18px;
  color : #FF33A2;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#h21{
  color: #CF561D;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#p4{
  font-family: cursive;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#l2{
  font-size: 18px;
  color: #794C04;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#p1{
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.galeria{
  margin: 20px 10px;
  box-shadow: 0 4px 8px 0 lightskyblue, 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  float: left;
  width: 350px;
}
.galeria img{
  width: 90%;
  height: auto;
}
.galeria:hover{
  border: 1px solid lightcoral;
  transform: rotate(-3deg);
}
.pie{
  text-align: center;
  text-shadow: 2px 2px 5px purple;
  padding: 10px
}

#tit1{
  color : #045155;
  font-family: Georgia, 'Times New Roman', Times, serif;


}
#tit2{
  color : #045155;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#tit4{
  color : #045155;
  font-style: italic;

}
#tit6{
  color : #045155;
}
#tit7{
  color : #045155;
}
#h31{
  color : #045155;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

#number{
  font-family: fantasy;
}
#b1{
  text-decoration: none;
  color: white;
  padding: 18px;

}
#b1:hover{
  background: #EFB1D2;
}
.portafolio{
  background: #f2f2f2;
}
.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.imagen-port{
  width: 24%;
  margin-bottom: 10px;
  height: 150px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-port img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(313, 96%, 39%, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hover-galeria img{
  width: 100px;
}
.hover-galeria p{
  color: #fff;
}
.imagen-port:hover .hover-galeria{
  transform: scale(1);
}

/*clientes*/
.cards{
  display: flex;
  justify-content: space-evenly;
}
.cards .card{
  background: #FF33A2;
  display: flex;
  width: 48%;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.cards .card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}
.cards .card  .contenido-texto-card{
  color: white;

}
.cards .card > .contenido-texto-card p{
  font-weight: 300;
  padding-top: 5px;
}
.clientes_contenedor .cards .card .contenido-texto-card p{
  color: white;
}
#cliente{
  color: #fff;
}
#comentario-cliente{
  color: #fff;
}
/*movil*/
@media screen and (max-width: 1220px) {
  .header-content,
  .container-content,
  .container-footer footer{
    max-width: 1000px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1020px){
  .container-content{
    width: 100%;
  }
@media screen and (max-width: 800px) {
  body{
    padding-top: 80px;
  }
  .logo_main{
    transition: all 300ms cubic-bezier(1,0,0,1);
  }
  .move-logo_main{
    transform: translateX(325px);
  }
  .container-all{
    transition: all 300ms cubic-bezier(1,0,0,1);
  }
  .move-container-all{
    transform: translateX(325px);
  }
  .menu{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background:  #EFB1D2;
  }
  .menu .bt-menu{
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }
  .menu i{
    float: right;
    font-size: 40px;
  }
  .menu nav{
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow:scroll;
  }
  .menu nav ul li{
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }
  .menu nav ul li a{
    display: block;
  }
  .menu nav ul li .children{
    width: 100%;
    position: relative;
  }
  .menu nav ul li:hover .children{
    display: none;
  }
  .menu nav ul li .children li a{
    margin-left: 20px;
  }

}
